{%extends "encabezado.html" %}
    

    <body style="background-color:#292929;">

      {%block contenido%}
      <div>
      <h2 class="text-center" style="color: aliceblue;">DASHBOARD ADMINISTRATIVO</h2>

        
      <ul class="nav nav-tabs" style="color: chartreuse;">

        <li class="nav-item">
          <a class="nav-link" style="color: aliceblue;" href="/usuarios/">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: aliceblue;" href="#">Reservas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: aliceblue;" href="#">Facturacion/Deudas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: aliceblue;" href="/crudhabitaciones">CRUD Habitaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: aliceblue;" href="#">Asignar Roles</a>
        </li>
      </ul> 
    </div>

    <div>

      {% block contenidoDASH %}

      
      {% endblock %}

    </div>

    {% endblock %}

    



      
    </body>
    

    